<html>
    <head>
        <title> Dataset Tagger </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
          .container {
            max-width: 1000px;
          }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row row-eq-height">
            <h2> Dataset Tagger </h2>
            <div class = "jumbotron col-md-6">
            {% if entry %}
            <div id="post">
                <p>
                    {{ entry }}
                </p>
            </div>
            <form role="form" method="POST" action = "/">
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="rating"
                    value = "1" required>1</label>
                    <label class="radio-inline"><input type="radio" name="rating"
                    value = "2">2</label>
                    <label class="radio-inline"><input type="radio" name="rating"
                    value = "3">3</label>
                    <label class="radio-inline"><input type="radio" name="rating"
                    value = "4">4</label>
                    <label class="radio-inline"><input type="radio" name="rating"
                    value = "5">5</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <br />
            {% endif %}
            {% if start %}
                <p>
                    Simple framework to facilitate easy labelling of datasets
                </p>
                <form role="form" method="POST" action = "/">
                    <button type="submit" class="btn btn-default">Start</button>
                </form>
                <br />
            {% endif %}
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
        </div>
        {% if not start %}
        <div class = "col-md-6">
                <div class = "pre-scrollable">
            {% for c in context %}
                <ul>
                    <li>
                        {{ c }}
                    </li>
                </ul>
             {% endfor %}
        </div>
        </div>
    </div>
      <div class="row">
        <div class = "panel panel-default">
            <div class="panel-heading"><h2>Instructions</h2></div>
            <div class="panel-body">
                Rate the above text based on what you think it's sentiment value is.
                <br />
                Rating goes from 1 to 5 with 1 being highly negative, 3 neutral
                and 5 being highly positive.
            </div>
        </div>
        {% endif %}
        </div>
    </div>
    </body>
</html>
